write-kubeconfig-mode: "0644"
token: {{ cluster_token }}
tls-san:
  - "turing-lab.local"
  - "192.168.1.33"
#node-label:
#  - "foo=bar"
#  - "something=amazing"
server: https://192.168.1.33:6443
cluster-init: false